.box-list {
    display: flex;
    justify-content: space-around;
}

.box-item {
    list-style: none;
}

.box {
    display: block;
    cursor: pointer;
}

.box-1 {
    margin-bottom: 10px;
}

.box-acodion-1, .box-acodion-2, .box-acodion-3 {
    display: none;
    background-color: #DFCAB6;
}

h2, p{
    margin: 0;
}
